In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('D:/PhD VIII/CSE 6242/Proj_6242/CSE-6242-Project/DB/player_country_1.csv')
df2 = pd.read_csv('D:/PhD VIII/CSE 6242/Proj_6242/CSE-6242-Project/DB/player_country_2.csv')
df3 = pd.read_csv('D:/PhD VIII/CSE 6242/Proj_6242/CSE-6242-Project/DB/player_country_3.csv')
df4 = pd.read_csv('D:/PhD VIII/CSE 6242/Proj_6242/CSE-6242-Project/DB/player_country_4.csv')

In [3]:
df = df1.append(df2).append(df3).append(df4)

In [8]:
df.to_csv('D:/PhD VIII/CSE 6242/Proj_6242/CSE-6242-Project/DB/player_country.csv', index=False)

In [7]:
df.groupby(df.country_code).count()

              user_id  steam_id
country_code
AD                  1         1
AE                  1         1
AF                  2         2
AG                  1         1
AL                  3         3
AO                  1         1
AQ                  2         2
AR                 21        21
AS                  1         1
AT                  7         7
AU                 28        28
AX                  2         2
AZ                  2         2
BE                  9         9
BG                  2         2
BN                  1         1
BO                  2         2
BQ                  1         1
BR                 80        80
BS                  1         1
BY                  6         6
BZ                  1         1
CA                 43        43
CG                  1         1
CH                  4         4
CL                 15        15
CN                166       166
CO                  6         6
CX                  5         5
CY                  1         1
...               ...       ...
PR                  3         3
PT                  7         7
QA                  1         1
RO                 10        10
RS                  2         2
RU                138       138
SA                  4         4
SE                 14        14
SG                  6         6
SI                  2         2
SK                  6         6
SS                  1         1
SV                  1         1
SY                  1         1
TD                  1         1
TG                  1         1
TH                 19        19
TN                  2         2
TR                 40        40
TW                 15        15
UA                 34        34
UG                  2         2
UM                  1         1
US                194       194
UY                  2         2
VE                  2         2
VN                 10        10
ZA                  3         3
ZM                  1         1
ZW                  3         3

[126 rows x 2 columns]